@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  color: CanvasText;
  background-color: Canvas;
}

.container_header {
  background-color: #2c2a30;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_restaurancy {
  padding: 10px 20px;
}

.input_search{
  height: 40px;
}

.btn_search{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.container_card {
  background-color: #2c2a30;
  border-radius: 8px;
}

.img_contain {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.style_img{
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}


.container_text {
  padding: 10px 20px 20px 20px;
  transition: 0.5s;
  color: #cac7c7;
}

.container_text:hover {
  color: #ffffff;
}

.contain_btn_back {
  display: flex;
  justify-content: flex-end;
}

.button_back {
  background-color: #2c2a30;
  padding: 5px 15px;
  border-radius: 3px;
  transition: 0.5s;
}

.button_back:hover {
  background-color: #454446;
}
